<!--
This snippet will be used to direct signups or logins. It contains parallax scrolling
elements that will need to be reviewed on each usage. This snippet will also need to be hooked
up to launch modals for both the login or account creation.
-->

<div class="signup darkbackground center-xs">
  <div class="container">
    <h2 class="h1">Join the Commercial Grower Community</h2>
    <a href="" class="ghostbtn btn-large">Sign Up</a>
    <a href="" class="ghostbtn btn-large">Log In</a>
  </div>
</div>
