<section class="events-carousal darkbackground center-xs">
  <h2>Find Us At...</h2>
  <div class="event-carousel owl-carousel owl-theme">
    <div class="event-item">
      <a href="">
        <p class="datetime">Saturday, Jan 17th, 12-4pm</p>
        <p class="address">5885 S Valley View Blvd. Las Vegas, Nevada</p>
        <h3>Las Vegas Nevada Opening January 2017<br/>Grand Opening Month</h3>
      </a>
    </div>
    <div class="event-item">
      <a href="">
        <p class="datetime">Saturday, Jan 17th, 12-4pm</p>
        <p class="address">5885 S Valley View Blvd. Las Vegas, Nevada</p>
        <h3>Las Vegas Nevada Opening January 2017<br/>Grand Opening Month</h3>
      </a>
    </div>
    <div class="event-item">
      <a href="">
        <p class="datetime">Saturday, Jan 17th, 12-4pm</p>
        <p class="address">5885 S Valley View Blvd. Las Vegas, Nevada</p>
        <h3>Las Vegas Nevada Opening January 2017<br/>Grand Opening Month</h3>
      </a>
    </div>
    <div class="event-item">
      <a href="">
        <p class="datetime">Saturday, Jan 17th, 12-4pm</p>
        <p class="address">5885 S Valley View Blvd. Las Vegas, Nevada</p>
        <h3>Las Vegas Nevada Opening January 2017<br/>Grand Opening Month</h3>
      </a>
    </div>
    <div class="event-item">
      <a href="">
        <p class="datetime">Saturday, Jan 17th, 12-4pm</p>
        <p class="address">5885 S Valley View Blvd. Las Vegas, Nevada</p>
        <h3>Las Vegas Nevada Opening January 2017<br/>Grand Opening Month</h3>
      </a>
    </div>
    <div class="event-item">
      <a href="">
        <p class="datetime">Saturday, Jan 17th, 12-4pm</p>
        <p class="address">5885 S Valley View Blvd. Las Vegas, Nevada</p>
        <h3>Las Vegas Nevada Opening January 2017<br/>Grand Opening Month</h3>
      </a>
    </div>
    <div class="event-item">
      <a href="">
        <p class="datetime">Saturday, Jan 17th, 12-4pm</p>
        <p class="address">5885 S Valley View Blvd. Las Vegas, Nevada</p>
        <h3>Las Vegas Nevada Opening January 2017<br/>Grand Opening Month</h3>
      </a>
    </div>
  </div>
</section>
