<section class="container-fluid featured-brands center-xs">
  <h2>Featured Brands</h2>
  <div class="row middle-xs">
    <div class="col-xs logo-item">
      <img src="img/emerald-harvest.png">
    </div>
    <div class="col-xs logo-item">
      <img src="img/sunlight.png">
    </div>
    <div class="col-xs logo-item">
      <img src="img/hydrofarm.png">
    </div>
    <div class="col-xs logo-item">
      <img src="img/ez-clone.png">
    </div>
    <div class="col-xs logo-item">
      <img src="img/phantom.png">
    </div>
    <div class="col-xs logo-item">
      <img src="img/advanced-nutrients.png">
    </div>
  </div>
</section>
