<footer>
  <div class="container-fluid">
    <div class="row between-xs">
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 left-xs center-sm left-md">
        <img src="img/gglogo_withtag.png" alt="GrowGeneration" />
      </div>
      <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2">
        <ul class="no-bullets">
          <li><a href="">Cloning & Seeds</a></li>
          <li><a href="">Fans & Ventilation</a></li>
          <li><a href="">Grow Light</a></li>
          <li><a href="">Harvesting</a></li>
          <li><a href="">Hydroponics</a></li>
          <li><a href="">Nutrients & Additives</a></li>
          <li><a href="">Pest & Disease Control</a></li>
          <li><a href="">Containers & Trays</a></li>
          <li><a href="">Soils & Mediums</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2">
        <ul class="no-bullets">
          <li><a href="">Commercial Account Login</a></li>
          <li><a href="">Store Locations</a></li>
          <li><a href="">Events</a></li>
          <li><a href="">Resources</a></li>
          <li><a href="">Contact</a></li>
          <li><a href="">FAQ</a></li>
          <li><a href="">Privacy Policy</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2">
        <ul class="no-bullets">
          <li><a href="">Our Partners</a></li>
          <li><a href="">Investor Relations</a></li>
          <li><a href="">Investor Info</a></li>
          <li><a href="">Our Story</a></li>
          <li><a href="">Our Mission</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 left-xs center-sm left-md newsletter-signup">

          <label for="newsletterEmail" class="h3">Sign Up For Our Newsletter</label>
          <div class="input-group">
            <input type="email" id="newsletterEmail" class="newsletter-input" placeholder="Email Address">
            <button type="submit" class="newsletter-btn"><i class="fa fa-plus" aria-hidden="true"></i></button>
          </div>
      </div>
    </div>
    <div class="row reverse copyrightfooter">
      <div class="col-xs-12 col-sm end-sm">
        <ul class="inline-list social-icons">
          <li class="facebook"><a href="https://facebook.com/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
          <li class="twitter"><a href="https://twitter.com/"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
          <li class="instagram"><a href="https://instagram.com/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm start-sm">
        <small>&copy; 2017 Grow Generation. All Rights Reserved.</small>
        <div style="color: #666;">
          <small>Website by
            <a href="http://zdca.com/" target="_blank" title="ZDCA Design &amp; Development">
              <img src="//zdca.com/ZDCA_Branding/zdca-basic-middlegrey.png" alt="ZDCA" align="middle" style="vertical-align: -9px;">
            </a>
          </small>
        </div>
      </div>
    </div>
  </div>
</footer>

<script src="js/owl.carousel.min.js"></script>
<script src="js/growgen.js"></script>
</body>
</html>
