<section class="slider">
  <div class="slider-carsoual owl-carousel owl-theme">
    <div class="slider-item">
      <div style="background: url('img/slider-img.jpg') no-repeat center center;" class="slider-bg"></div>
      <div class="slider-caption">
        <img src="img/build-your-way.png">
      </div>
    </div>
    <div class="slider-item">
      <div style="background: url('img/slider-img.jpg') no-repeat center center;" class="slider-bg"></div>
      <div class="col-xs slider-caption">
        <img src="img/build-your-way.png">
      </div>
    </div>
  </div>
</section>
