<!--
This snippet is only a barebones container of what we need to include for the retailer location
feature on the homepage. It may need to be tweaked as elements get included through live data.
-->

<section class="location-search">
  <div class="location-map">
    <img src="img/static-map-placeholder.jpg">
  </div>
  <div class="location-panel">
    <div class="location-header">
    <h3>Locate a Retailer Near You</h3>
    <input type="text" placeholder="Enter address or Zip">
  </div>

    <ul class="location-list">
      <li>
        <a href="">
          <h3 class="retailer">Retailer Name</h3>
          <p class="retailer-address">123 1st Street • Denver, CO</p>
        </a>
      </li>
    </ul>
  </div>

</section>
