<section class="product-grid lightbackground bordered">
  <div class="row container-fluid">
    <div class="col-xs-12 col-sm-4 product-grid-item">
      <a href="">
        <img src="img/cloning.jpg" class="bg-img">
        <div class="overlay">
          <h3>Cloning &amp; Seeds</h3>
        </div>
      </a>
    </div>
    <div class="col-xs-12 col-sm-4 product-grid-item">
      <a href="">
        <img src="img/fan.jpg" class="bg-img">
        <div class="overlay">
          <h3>Fans &amp; Ventilation</h3>
        </div>
      </a>
    </div>
    <div class="col-xs-12 col-sm-4 product-grid-item">
      <a href="">
        <img src="img/growlight.jpg" class="bg-img">
        <div class="overlay">
          <h3>Grow Lights</h3>
        </div>
      </a>
    </div>
    <div class="col-xs-12 col-sm-4 product-grid-item">
      <a href="">
        <img src="img/harvesting.jpg" class="bg-img">
        <div class="overlay">
          <h3>Harvesting</h3>
        </div>
      </a>
    </div>
    <div class="col-xs-12 col-sm-4 product-grid-item">
      <a href="">
        <img src="img/hydroponics.jpg" class="bg-img">
        <div class="overlay">
          <h3>Hydroponics</h3>
        </div>
      </a>
    </div>
    <div class="col-xs-12 col-sm-4 product-grid-item">
      <a href="">
        <img src="img/nutrients.jpg" class="bg-img">
        <div class="overlay">
          <h3>Nutritents &amp; Additives</h3>
        </div>
      </a>
    </div>
    <div class="col-xs-12 col-sm-4 product-grid-item">
      <a href="">
        <img src="img/pest.jpg" class="bg-img">
        <div class="overlay">
          <h3>Pest &amp; Disease Control</h3>
        </div>
      </a>
    </div>
    <div class="col-xs-12 col-sm-4 product-grid-item">
      <a href="">
        <img src="img/container.jpg" class="bg-img">
        <div class="overlay">
          <h3>Containers &amp; Trays</h3>
        </div>
      </a>
    </div>
    <div class="col-xs-12 col-sm-4 product-grid-item">
      <a href="">
        <img src="img/soil.jpg" class="bg-img">
        <div class="overlay">
          <h3>Soil &amp; Mediums</h3>
        </div>
      </a>
    </div>
  </div>
</section>
